<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="<%=resource%>/bootstrap.min.css">
  <link rel="stylesheet" href="<%=resource%>/bootcut.css">
  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="<%=resource%>/html5shiv.min.js"></script>
    <![endif]-->
  <script src="<%=resource%>/jquery.min.js"></script>
  <script src="<%=resource%>/xhr.js"></script>
  <script src="<%=resource%>/util.js"></script>
  <script src="<%=resource%>/bootstrap.min.js"></script>
  <script src="<%=resource%>/n-valid/jquery.validator.min.js?local=en" ></script>
