<%include("base/header")%>
  <style>
  /*nav-advance css*/
  .nav-advance{
  	border-bottom:1px solid #D3D3D3;
    border-top: 1px solid #D3D3D3;
  	padding: 10px 0 10px 839px;
  }
  .nav-advance div{
  	display: inline-block;
  }
  .advance-title{
  	font-weight: bold;
  }
  .advance-img{

  }
  /*nav-advance end*/
  </style>
  <title>Quick Start</title>
</head>
<body>
<div class="container">
  <%include("include/top")%>
  <div class="nav-advance">
    <div class="advance-title">Advanced</div>
    <div class="advance-img"><a href="<%=controller%>/web/status"><img src="<%=resource%>/opMode-img/settings.jpg" alt="" id="setting"></a></div>
  </div>
  <br>
