<%include("base/header_setting")%>
<form action="<%=luci.dispatcher.build_url("api", "common")%>">

		<div class="header">
			<div class="title">
				Lan Setting
			</div>
			<div class="description">
				On this page you can configure the Lan network interfaces.
			</div>
		</div>


		<div class="wraper">
			<div class="title">
				Proto
			</div>
			<div class="content">
				<%include("include/lan_proto")%>
			</div>
		</div>
		<input type="hidden" name="commit" value="network">
		<input type="hidden" name="page" value="lan">
		<input type="hidden" name="command" value="sleep 3;/etc/init.d/network restart">
		<% include ("base/action")%>
</form>
<%include("base/footer_setting")%>
