<%include("base/header_setting")%>
<div class="header">
	<div class="title">
		Wireless Advanced Settings
	</div>
	<div class="description">
		On this page you can configure the wireless advanced settings.
	</div>
</div>

<form action="<%=luci.dispatcher.build_url("api", "common")%>">


<div class="wraper">
	<div class="title">
		Wireless Advanced
	</div>
	<div class="content">
		<%include("include/wireless_advanced")%>
	</div>
</div>
<input type="hidden" name="commit" value="wireless">
<input type="hidden" name="page" value="wireless_advamced">
<input type="hidden" name="command" value="sleep 3;/etc/init.d/network restart">
<% include ("base/action")%>
</form>
<%include("base/footer_setting")%>
